body {
    margin: 0;
    background-color: white;
}

nav {
    margin: 0;
    background-color: #929191;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    gap: 0.2em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    color: black;
}

h2 {
    font-size: 2em;
    text-align: center;
}

#icon {
    padding: 5px;
    border: 1px solid black;
}

footer {
    color: #929191;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color:#F78237
}

.project {
    align-items: center;
}

#container {
    background-color: white;
}

.description {
    margin: 1em;
    color: #505050;
    font-family: 'Sora', sans-serif;
    text-align: none;
}

.viewButton {
    font-size: 1.5em;
    font-weight: bold;
    padding: 4px;
    border: 1px solid #505050;
    align-content: center;
}

.vb {
    text-align: center;
    margin-top: 3em;
}

.mobile {
    margin-top: 3em;
    margin-bottom: 3em;
    border-top: 1px solid #929191;
}

.web {
    border: none;
    background-color: none;
}

footer {
    color: #929191;
    position: relative;
    bottom: 1px;
    width: 100%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0.7em;
}

.contacts {
    color: white;
}

/* media queries */
@media (min-width: 60em) {
    #container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }

    #icon {
        font-size: 1.5em;
        margin-left: 1em;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
    }

    .mobile {
        margin: 0;
        border: none;
    }

    .web {
        margin-top: 3em;
        margin-bottom: 3em;
        border-top: 1px solid #929191;
    }
}